/*AllCounts V 3.0 Styles*/


/*FUENTES DE GOOGLE FONTS*/

/*INTER (Textos Largos y Parrafos) + POPPINS (Titulos, Encabezados y Navbar)*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font-family: "Poppins", sans-serif; font-family: "Inter", sans-serif;*/

/*QUESTRIAL (Copyrights)*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/*font-family: "Questrial", sans-serif*/




/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*BODY CLASSES*/

.voluntariado-body{
    background-image: url(./images/4.png);
    color: white;
}

.sobreallcounts-body{
    background-image: url(./images/5.png);
    color: white;
}
/*----------------------------------------------------------------------------------------------------------------------------*/


/*Estilos Predeterminados para todo AllCounts*/

h1{
    font-family: "Poppins", sans-serif;
    text-decoration: solid;
    color: white;
    font-size: 50px;

}
h2{
    font-family: "Poppins", sans-serif;
    text-decoration: solid underline;
    color: white;
    text-align: center;

}
h3{
    font-family: "Inter", sans-serif;
    color: white;
}
h5{
    color: white;
    text-decoration: solid underline;
    font-family: "Inter", sans-serif;
}
.subtitulo{
    font-family: "Poppins", sans-serif;
    text-decoration: solid;
    color: white;
    font-size: 25px;

}

.subtitulo2{
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: solid; 
    text-decoration: underline;
 
}
.parrafos{
    font-family: "Inter", sans-serif;
    color: white;

}
.parrafos-solid{
    font-family: "Inter", sans-serif;
    color: white;
    text-decoration: solid;

}

.interlink{
    font-family: "Inter", sans-serif;
    text-decoration: solid;
    color: white;
    padding: 10px;
    border: solid white 3px;
    border-radius: 10px;
    background-color: #ffffff33;

}


.nav-interlink{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.nav-subtext{
    font-family: "Questrial", sans-serif;
    color: white;
    font: x-small;
}
.copyright{
    font-family: "Questrial", sans-serif;
    color: lightgray;
    font-size: small;
    text-align: center;
}
.ul-no-decoration{
    text-decoration: none;
    list-style: none;
}

li{
    font-family: "Inter", sans-serif;
    color: white;
}

.padding{
    padding: 30px;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/

/*ALLCOUNTS V4.0 INDEX CLASSES*/

/*INDEX GRID (Esqueleto)*/

.index-body-grid{
    background-image: url(./images/1.png);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "index-header"
    "index-main"
    "index-footer";
    row-gap: 20px;
    margin: 20px;
}
@media (max-width: 600px) {
    .index-grid{
            color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 700px 100px ;
    grid-template-areas: 
    "index-header"
    "index-main"
    "index-footer";
    row-gap: 20px;
    margin: 20px;
    }
    
}

/*INDEZ HEADER*/

.index-header{
    grid-area: index-header;
    border-radius: 10px;
    background-color: #0f0f0f33;
    margin: 30px;
}

/*INDEX MAIN*/
.index-main{
    grid-area: index-main;
}

.index-main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "title-index"
    "hero-index"
    "causas-index"
    "accion-index"
    "volunt-index"
    "allcounts-index";
    row-gap: 20px;
    margin: 20px;
}
@media (max-width: 600px){
    .index-main-grid{
        display: grid;
        max-width: 600px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
        "title-index"
        "hero-index"
        "causas-index"
        "accion-index"
        "volunt-index"
        "allcounts-index";
        row-gap: 20px;
        margin: 10px 10px 10px 10px;
        align-items: center;
        

    }
    .index-causas-org{
        display: flex;
        flex-direction: column;
    }
}
.index-main-title{
    grid-area: title-index;
    padding: 30px;
}
.index-hero{
    border: white 3px solid;
    border-radius: 10px;
    grid-area: hero-index;
    padding: 30px;
}


.index-causas{
    border: white 3px solid;
    border-radius: 10px;  
    grid-area: causas-index ;  
    padding: 30px;
}

.index-causas-org{
    display: flex;
    flex-direction: row;
    align-items: right ;
    padding: 30px;
}
.card-title-p{
    font-family: "Poppins", sans-serif;
    color: black;
    text-decoration: solid; 
}
.card-text-p{
    font-family: "Inter", sans-serif;
    color: black;

}
.card-title-pw{
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: solid; 
}
.card-text-pw{
    font-family: "Inter", sans-serif;
    color: white;

}
.centered-button{
    text-align: center;
    font-size: 20px;
}
.index-acciones{
    grid-area: accion-index;
    padding: 30px;
    border: white 3px solid;
    border-radius: 10px;  
}

.index-voluntariado{
    grid-area: volunt-index;
    padding: 30px;
    border: white 3px solid;
    border-radius: 10px;
}

.index-allcounts{
    grid-area: allcounts-index;
    padding: 30px;
    border: white 3px solid;
    border-radius: 10px;    
}

/*INDEX Footer*/

.index-footer{
    grid-area: index-footer;
    padding: 30px;
    border-radius: 10px;
    background-color: #0f0f0f33;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*ALLCOUNTS V4.0 NOVEDADES CLASES*/

.novedades-body-grid{
    background-image: url(./images/3.png);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "novedades-header"
    "novedades-main"
    'novedades-footer';
    row-gap: 20px;
    margin: 30px;
}

@media (max-width: 600px){
    .novedades-grid{
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "novedades-header"
        "novedades-main"
        'novedades-footer';
        row-gap: 20px;
        margin: 20px;

    }

}

/*Novedades Header*/

.novedades-header{
    grid-area: novedades-header;
    border-radius: 10px;
    background-color: #0f0f0f33;
    margin: 30px;
}

/*Novedades Main*/

.novedades-main{
    grid-area: novedades-main;
    margin: 30px;
    
}
.novedades-button{
    color: black;
    font-family: "Inter", sans-serif;
    font-size: small;
    text-decoration: none;
}
.novedades-title{
    padding: 30px 30px 70px 30px;
    border: white 3px solid;
    border-radius: 10px;    

}
.noticias-cards{
    border: white 3px solid;
    border-radius: 10px;    
}
.ultimas-novedades{
    padding: 30px;
}
.ultimas-novedades-2{
    padding: 30px;
}

/*Novedades Footer*/

.novedades-footer{
    grid-area: novedades-footer;
    border-radius: 10px;
    background-color: #0f0f0f33;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*ALLCOUNTS V4.0 ORGANIZACIONES CLASSES*/

.organizaciones-body-grid{
    background-image: url(./images/2.png);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "org-header"
    'org-main'
    "org-footer";
    row-gap: 20px;
    margin: 20px;
}

/*Organizaciones Header*/

.organizaciones-header{
    grid-area: org-header;
    border-radius: 10px;
    background-color: #0f0f0f33;
    margin: 30px;
    color: white;
}

/*Organizaciones Main*/

.organizaciones-main{
    grid-area: org-main;
}
.organizaciones-title{
    padding: 30px;
    margin: 30px;
    border: white 3px solid;
    border-radius: 10px;    
}


.organizaciones-descrip{  
    padding: 30px;
}

.ong-card{
    padding: 15px;
}

.card-p{
    padding: 30px;
    background-color: #0f0f0f33;
    border: white solid 3px;
    border-radius: 10px;
}
.card-header{
    display: flex;
    flex-direction: row;
}
.centred-img{
    display: block;
    margin: 0 auto;
    text-align: center;
    max-height: 80px;
    width: auto;

}


/*Organizaciones Footer*/

.organizaciones-footer{
    grid-area: org-footer;
    border-radius: 10px;
    background-color: #0f0f0f33;
    margin: 30px;
}



/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*ALLCOUNTS V4.0 VOLUNTARIADO.HTML STYLES*/


.voluntariado-body{
    background-image: url(./images/4.png);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "vol-header"
    'vol-main'
    "vol-footer";
    row-gap: 20px;
    margin: 20px;
}

/*Voluntariado Header*/

.voluntariado-header{
    grid-area: vol-header;
    border-radius: 10px;
    background-color: #0f0f0f33;
    margin: 30px;

}


/*Voluntariado Main*/
.voluntariado-main{
    grid-area: vol-main;
    padding: 30px;
}
.vol-title{
    padding: 30px;
}
.vol-tipos{
    padding: 30px;
}
.vol-trabajo{
    padding: 30px;
}

.cruz-roja-card{
    padding: 30px;
    background-image: url(./images/cruzrojafondo.png);
    border: white solid 3px;
    border-radius: 10px;
}

.techo-card{
    padding: 30px;
    background-image: url(./images/techofondo.png);
    border: white solid 3px;
    border-radius: 10px;
}


/*Voluntariado Footer*/
.voluntariado-footer{
    grid-area: vol-footer;
    border-radius: 10px;
    background-color: #0f0f0f33;
    margin: 30px;
}
